.DataTable {
  border-width: 0px 0px 1px 1px;
  border-style: none;
  border-color: green;
  border-spacing: 2px;
}

.DataTable-OddRow {
  background-color: #f7a25a;
}

.DataTable-EvenRow {
  background-color:  #f7c69d;
}


.DataTable-FirstRow {
  background-color: #F7811D; 
  color: #FCF2D9;
  font-weight: bold;
}

.DataTable-Cell {
  border-width: 1px 1px 0px 0px;
  border-style: none;
  border-color: green;
  padding: 5px;
}