<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	
	<display-name>AutoAlertWeb</display-name>
	
	<listener>
		<listener-class>info.geekinaction.autoalert.InitListener</listener-class>
	</listener>
	
	<servlet>
		<description>
		</description>
		<display-name>AutoAlertModelDelegate</display-name>
		<servlet-name>AutoAlertModelDelegate</servlet-name>
		<servlet-class>info.geekinaction.autoalert.rpc.AutoAlertModelDelegate</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>AutoAlertModelDelegate</servlet-name>
		<url-pattern>/autoalert/model</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	
	<!-- 
	<ejb-local-ref>
		<ejb-ref-name>ejb/local/AutoAlertModel</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local>info.geekinaction.autoalert.model.service.IAutoAlertModel</local>
		<ejb-link>AutoAlertModel</ejb-link>
	</ejb-local-ref>
	 -->
	 
</web-app>
